<%- include("_header") -%>

<h3 class='mb-4'>Delete Article</h3>

<form action="/delete/<%= model.ID %>" method="post">
  <div class="form-horizontal">

    <%- include("_display") -%>

    <div class="form-group row">
      <div class="col-sm-12 text-center">
        <input type="submit" value="Delete" class="btn btn-default btn-danger" />
        <a class="btn btn-outline-light cancel" href="/">Cancel</a>
      </div>
    </div>
  </div>
</form>

<%- include("_footer") -%>